 
<p hidden id="interval"><%= interval %></p>
<% if (loop == true) { %>
    <script>
        let tmp = document.getElementById('interval').innerHTML;
        let converted = 1; 
        if (Number(tmp) === 60000) converted  = 2;
        if (Number(tmp) === 120000) converted = 3;
        if (Number(tmp) === 180000) converted = 4;
        
        window.addEventListener('load', (event) => {
        document.body.style.cursor = "move";

        setTimeout(() => {
            location.href=`/shuffle?interval=${converted}`;
        }, Number(tmp));
    });
    </script>
        <% } %>
        <script>
              window.addEventListener('load', (event) => {
	//$('#alias').fadeIn('slow');
	
	setTimeout(() => {	
		$('#alias').fadeOut('slow');
		//$('#alias').fadeIn('slow');	
	}, 6000);
	
	
});
                
            </script>
           </body>
        
    
    
</html>