
<%- include('partials/bodytop.ejs') %>
    <link href="/Blurry/main.css" rel="stylesheet" type="text/css" />

    <script src="/Blurry/libs/dependencies/three.js"></script>
    <script src="/Blurry/libs/dependencies/OrbitControls.js"></script>
    <script src="/Blurry/libs/dependencies/jquery.js"></script>


    <!-- globals needs to be included before every shader -->
    <script src="/Blurry/libs/globals.js"></script>

    <script src="/Blurry/libs/geometries/line.js"></script>
    <script src="/Blurry/libs/geometries/quad.js"></script>

    <script src="/Blurry/libs/shaders/shaderpass.js"></script>
    <script src="/Blurry/libs/shaders/postproc.js"></script>
    <script src="/Blurry/libs/shaders/line.js"></script>
    <script src="/Blurry/libs/shaders/quad.js"></script>

    <!-- utils needs to be placed BEFORE curlNoise.js -->
    <script src="/Blurry/libs/utils.js"></script>

    <script src="/Blurry/libs/perlinNoise.js"></script>
    <script src="/Blurry/libs/curlNoise.js"></script>

    <script src="/Blurry/libs/createScene.js"></script>
    <script src="/Blurry/libs/main.js"></script>

</head>
<body>
    <div class="controls active">
        <p>press <span>o</span> or <span>p</span> to change focal length</p>
        <p>press <span>k</span> or <span>l</span> to change bokeh strength</p>
        <p>press <span>v</span> or <span>b</span> to change exposure</p>
        <p>press <span>u</span> or <span>i</span> to change distance attenuation</p>
        <p>press <span>m</span> to change focal strength equation</p>
        <p>press <span>h</span> to hide this menu</p>
    </div>
</body>
</html>
