<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <script>
    		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'G-04DPV6D6XN', 'auto');
            ga('send', 'pageview');
           </script>
    <meta name="description" content="LSXS Interactive Visualizer" />
    		<meta name="keywords" content="webgl, effect, tube, infinite, interactive, threejs, background, 3d, javascript, browser, effects, visuals, canvas" />
    		<meta name="author" content="LSXS" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>LSXS | about</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="images/favicon3.ico" type="image/gif" >
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-right">
        <!--=================== side menu ====================-->
        <div style="max-width:12vw;min-width: 170px;" class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div style="max-width:5vw;min-width: 90px;height:auto;" class="logo_box">
                <a style="margin-left:2.2rem;" href="/home">
                    <img src="assets/img/logo/vector/default-monochrome-white.svg" alt="LS-X">
                </a>
            <div style="color:#ab20fd;margin-left: 1.2rem;">
                <a target="_blank" href="https://www.instagram.com/lsxs.visualizer/"> <i class="ion ion-social-instagram"></i> </a>

                <a target="_blank" href="https://www.facebook.com/LSXS.visualizer"> <i class="ion ion-social-facebook"></i> </a>
 
                </div>
            </div>
            <!--logo end-->

            <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li >
                        <a href="/home">
                            LS-Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="/about">
                            About
                        </a>
                    </li>   
                    <!-- <li>
                     
                        <select id="shuffle-component" style=""  class="btn btn-dark" onChange="window.open(this.value,'_blank');">
                            <option value="#" >Shuffle </option>
                            <option value="/shuffle?interval=1">Shuffle 30s</option>
                            <option value="/shuffle?interval=2">Shuffle 60s</option>
                            <option value="/shuffle?interval=3">Shuffle 90s</option>
                            <option value="/shuffle?interval=4">Shuffle 180s</option>
                        </select>
                    </li> -->
                   
                </ul>
            </div> 
            <div class="side_menu_section">
            <h4 class="side_title">Shuffle :</h4>
            <ul  class="filter_nav">
              <li>
                <a
                  target="_blank"
                  href="/shuffle?interval=1"
                  >Fastest</a
                >
              </li>
              <li>
                <a target="_blank" href="/shuffle?interval=2"
                  >Fast</a
                >
              </li>
              <li>
                <a target="_blank" href="/shuffle?interval=3"
                  >Slow</a
                >
              </li>
              <li>
                <a target="_blank"  href="/shuffle?interval=4"
                  >Slower</a
                >
              </li>
              
            </ul>
          </div>

            <!--main menu end -->

            <!--filter menu -->
         
            
            <!--filter menu end -->


            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <ul class="social_menu">
                <li>
                  <a target="_blank" href="https://www.instagram.com/lsxs.visualizer/"> <i class="ion ion-social-instagram"></i> </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.facebook.com/LSXS.visualizer"><i class="ion ion-social-facebook"></i> </a>
                </li>
              </ul>
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> CCNC.</p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div>
                <div class="img_card">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-7 content_section">
                            <div class="content_box">
                                <div class="content_box_inner">
                                    <div>
                                        <h3>
                                            Just a few words
                                        </h3>
                                        <p>
                                           LSXS is an online visualizer integrating tweaked, corrected and original works by digital artists around the globe,
                                           in a single catalog, accessible to everybody.
                                        </p>
                                      
                                           <p>
                                           
                                            the idea sparked from the lack of visual presence in the gigs and parties i went to (not to say that all of them were lacking),
                                            and i personally struggled to find a good catalog of visuals for home parties i do  with my friends, so i decided, why not make one ?
                                            So here we are, blunts and whatnot ready for the journey. 
                                            
                                           </p>  
                                           
                                           <p>
                                            if you like the idea and the service, your support will be valuable to the project.
                                            i am planning to build the platform through your feedback, so feel free to contact me through
                                            facebook or instagram or email : lsx-contact@gmail.com.
                                            
                                           </p>
                                           <p>
                                            stay trippin.
                                           </p>
                                           

                                        
                                        <!--=================== counter start====================-->
                                        
                                        <!--=================== counter end====================-->
                                    </div>
                                    <!--===================testimonial start====================-->
                                    <div class="testimonial_carousel mt50">

                                        <div class="testimonial_box">
                                            <p>
                                               It's not where you take things from, it's where you take them to.
                                            </p>
                                            <div class="testimonial_author">
                                                <h5>Jean luc Godard</h5>
                                            </div>
                                        </div>

                                        
                                    </div>
                                    <!--===================testimonial end====================-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-5 img_section" style="background-image: url('assets/img/bg/tails.gif');"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>


</div>

<!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "106005058351697");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="assets/js/imgloaded.js"></script>
<script src="assets/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>
</body>
</html>